@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.firstHeaderSection a{
  color: black;
}


.loginMain, .signInMain {
  width: 100%;
  padding: 0 10% 0 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: center;
  top: 80px;
  background: url(/assets/img/heroimg_1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.login, .signIn{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
.login{
    min-height: 80vh;
}

.signIn{
    min-height: 90vh;
}


.loginFormContainer{
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    opacity: 0.95;
    position: relative;
}

.signInFormContainer{
    width: 70%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    opacity: 0.95;
    position: relative;
}


form{
    height: 95%;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.331) 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

form p{
  font-size: 14px;
  font-weight: bold;
}

.accountTitleContainer{
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

.accountTitle{
  font-size: 24px;
}

input{
  height: 40px;
  border-radius: 5px;
  padding-left: 5px;
  background-color: var(--background);
  border: 0.5px black solid;
  outline: 0;
}

input:focus{
  outline: 1px solid;
}

.validInput{
  border: 3px rgb(17, 177, 17) solid;
}

.validInput:focus{
  outline: 0;
}

.invalidInput{
  border: 2px red solid;
}

.invalidInput:focus{
  outline: 0
}

.inputNameContainer, .inputEmailContainer, .inputPassContainer, .inputPhoneContainer, .inputUsernameContainer{
    display:flex;
    flex-direction: column;
    width: 60%;
}

.loginBtnContainer, .signInBtnContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 10px;
    width: 50%;

}

.loginBtn, .signInBtn{
    height: 50%;
    width: 100%;
    background: var(--terciary);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    transition: 0.25s all ease-out;
}


.createAccountBtn, .accountExistBtn{
  width: 100%;
  height: 50%;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px var(--terciary) solid;
  transition: 0.25s all ease-out;
  background-color: white;
}

.createAccountBtn a, .accountExistBtn a{
  font-size: 14px;
  color: var(--terciary);
}

button:hover{
  transform: scale(1.025);
}


.loginBtnContainer a, .signInBtnContainer a{
  text-decoration: none;
}

.forgotPassword{
    font-weight: bold;
    text-decoration: underline;
    color: black;
    font-size: 14px;
}


form  div > p:last-child, #loginError{
  color: red;
  font-size: 12px;
}

#loginFooter, #signInFooter{
  bottom: -70px;
}


.welcomeMsg{
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  position: absolute;
  z-index: 4;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}



@media screen and (max-width: 1400px ){
  .loginFormContainer, .signInFormContainer{
    width: 70%;
  }
}

@media screen and (max-width: 1200px ){
  .loginFormContainer, .signInFormContainer{
    width: 80%;
  }
}


@media screen and (max-width: 1024px ){
  .loginFormContainer, .signInFormContainer{
    width: 85%;
  }
}


@media screen and (max-width: 769px ){
  .loginFormContainer form, .signInFormContainer form{
    width: 90%;
  }

  .loginFormContainer, .signInFormContainer{
    width: 100%;
  }
}


@media screen and (max-width: 500px ){

  .loginMain, .signInMain{
    padding: 0;
  }

  .inputEmailContainer, .inputPassContainer, .inputNameContainer, .inputPhoneContainer, .inputUsernameContainer {
    width: 80%;
  }

  .loginBtnContainer, .signInBtnContainer{
    width: 70%;
  }
}