@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "fredoka", sans-serif;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}
:root {
  --background:#f0e32e25;
  --main:#4ECDF9;
  --secondary: #A1E7FF;
  --contrast: #f5f5f5;
  --terciary: #6e02f5;
  --details:#02E887;
  --otherContrast:#F0E32E;
}

html,
body {
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.331) 0px 0px 10px 0px;
}

.firstHeaderSection {
  padding: 0 10% 0 10%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main);
}

.firstHeaderSection img {
  max-height: 60px;
}

.firstHeaderSection ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstHeaderSection ul li {
  cursor: pointer;
}


nav{
    display: flex;
    justify-content: flex-end;
}

nav li {
  position: relative;
}

nav li p {
    font-weight: 400;
    color: #FFFFFF;
    font-weight: bold;
} */

/* Main */

.loginMain, .signInMain {
  width: 100%;
  padding: 0 10% 0 10%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: center;
  top: 80px;
  background: url(/assets/img/heroimg_1.png);
}

.login, .signIn{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    justify-content: center;
}

.loginFormContainer{
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}

.signInFormContainer{
    width: 70%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    height: 95%;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.331) 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

form p{
  font-size: 14px;
  font-weight: bold;
}

.accountTitleContainer{
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

.accountTitle{
  font-size: 24px;
}

input{
  height: 40px;
  border-radius: 5px;
  padding-left: 5px;
  background-color: var(--background);
  border: 0.5px black solid;
  outline: 0;
}

input:focus{
  outline: 1px solid;
}

.validInput{
  border: 3px rgb(17, 177, 17) solid;
}

.validInput:focus{
  outline: 0;
}

.invalidInput{
  border: 2px red solid;
}

.invalidInput:focus{
  outline: 0
}

.inputNameContainer, .inputEmailContainer, .inputPassContainer, .inputPhoneContainer, .inputUsernameContainer{
    display:flex;
    flex-direction: column;
    width: 60%;
}

.loginBtnContainer, .signInBtnContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 10px;
    width: 50%;

}

.loginBtn, .signInBtn{
    height: 50%;
    width: 100%;
    background: var(--terciary);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    transition: 0.25s all ease-out;
}


.createAccountBtn, .accountExistBtn{
  width: 100%;
  height: 50%;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px var(--terciary) solid;
  transition: 0.25s all ease-out;
  background-color: white;
}

.createAccountBtn a, .accountExistBtn a{
  font-size: 14px;
  color: var(--terciary);
}

button:hover{
  transform: scale(1.025);
}


.loginBtnContainer a, .signInBtnContainer a{
  text-decoration: none;
}

.forgotPassword{
    font-weight: bold;
    text-decoration: underline;
    color: black;
    font-size: 14px;
}

.loginImgContainer, .signInImgContainer{
    width: 50%;
    display: flex;
    justify-content: center;
}

.loginImgContainer img, .signInImgContainer img{
    width: 80%;
    object-fit: contain;
}

form  div > p:last-child, #loginError{
  color: red;
  font-size: 12px;
}

#loginFooter, #signInFooter{
  bottom: -80px;
}

/* @media screen and (max-width: 1100px ){
  .categories, .featuredItems{
    width: 95%;
  }
  
} */
