@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "fredoka", sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --background:#f0e32e25;
  --main:#4ECDF9;
  --secondary: #A1E7FF;
  --contrast: #f5f5f5;
  --terciary: #8a2dff;
  --details:#02E887;
  --otherContrast:#F0E32E;
}

html,
body {
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2, h3, h4 {
  font-family: 'Fredoka', sans-serif;
}

button {
  cursor: pointer;
}

header {
  width: 100%;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.331) 0px 0px 10px 0px;
}


.bannerContainer {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: var(--details);
  font-weight: 500;
  padding: 5px 0 5px 0;
}

.bannerContainer p{
  color: black
}

.firstHeaderSection {
  padding: 0 10% 0 10%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main);
}

.firstHeaderSection img {
  max-height: 60px;
}

.firstHeaderSection ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstHeaderSection ul li {
  cursor: pointer;
  display: flex;
}


nav{
    width: 20%;
    min-width: 300px;
}

.accountBtnContainer {
    display: flex;
    align-items: center;
    
}

.accountBtnContainer a{
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: black;
  font-weight: bold;
}

nav img{
    width: 35px;
    height: 35px;
}

nav li {
  position: relative;
}

nav p{
  font-family: 'Fredoka',sans-serif;
}

.productsCounterIcon {
	height: 20px;
	position: absolute;
	background-color: #ffd782;
	border-radius: 50px;
	width: 22px;
	left: 22px;
	top: -8px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.productsCounterIcon p {
	font-size: 14px;
	color: black;
}

.secondHeaderSection {
  padding: 0 10% 0 10%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  position: relative;
}

.categoriesMenuContainer {
  display: flex;
  gap: 10px;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  height: 100%;
  position: relative;
}

.categoriesMenuContainer p{
  font-family: 'Fredoka',sans-serif;
  font-size: 18px;
}

.secondaryNavBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
}

.secondaryUl {
  display: flex;
  gap: 30px;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.dropdownMenuContainer {
  height: 70vh;
  background-color: white;
  position: absolute;
  top: 40px;
  left: 0px;
  display: none;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  font-family: 'Fredoka',sans-serif;
  width: 260px;
}


.categoriesDropdownMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
  gap: 10px;
}



.secondaryNavBar > ul> li {
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondaryNavBar a{
  color: black;
  font-family: 'Fredoka',sans-serif;
}


.burguerContainer span{
  display: flex;
  align-items: center;
}

#burguerMenu {
	cursor: pointer;
  display: none;
}

.burguerDropdown {
  flex-direction: column;
  position: absolute;
  background-color: white;
  right: 0;
  top: 48px;
  height: 200px;
  width: 150px;
  display: none;
}

.alertMsg{
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
  justify-content: center;
  align-items: center;
  z-index: 4;
  font-size: 18px;
  color: white;
}

.addProduct {
  background-color:#1aa81c; 
}

.productRepeat {
  background-color: red;
}



/* Carrito de Compras */

.cartMenu{
  background-color: #b7ffb8;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  width: 450px;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 20px;
  border: 1px black solid;
  gap: 30px;
  z-index:4;
}

.cartTitleContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartTitleContainer p{
  font-size: 24px;
}

.cartTitleContainer img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cartProductsContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
	overflow-x: hidden;
}

.cartProductsContainer::-webkit-scrollbar {
	width: 5px;
}
.cartProductsContainer::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 22px;

}


.cartItemCard{
  background-color:#dbffdc;
  height: 120px;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.removeBtnContainer{
  display: flex;
  align-items: flex-start;
  height: 24px;
}

.removeBtnContainer img{
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.imgItemContainer{
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.imgItemContainer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemContentContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.itemDescriptionContainer p:first-child{
  font-size: 16px;
}

.itemDescriptionContainer p:last-child{
  font-size: 20px;
  padding-top: 10px;
}

.addRemoveBtnContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--contrast);
  height: 30px;
  width: 96px;
  border-radius: 15px;
  margin-left: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000000;
}

.addRemoveBtnContainer button{
  border-radius: 50px;
  width: 24px;
  height: 24px;
  background-color: var(--contrast);
  border: none;
  font-size: 18px;
}




.removeAllItems{
  background-color: #b7ffb8;
  width: 170px;
  height: 34px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px;
  border: 1px black solid;
  transition: 0.25s all ease-out;
  font-size: 15px;
}

.removeAllItems img{
  width: 18px;
  height: 18px;
}

.removeAllItems:hover{
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.cartInfoContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #dbffdc;
}

.totalCartCostContainer{
  background-color:#dbffdc;
}

.cartInfoContainer div, .totalCartCostContainer{
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.checkoutBtnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkoutBtn{
  width: 80%;
  height: 50px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
}

.activeCheckoutBtn{
  background-color: var(--terciary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.25s all ease-out;
}

.activeCheckoutBtn:hover{
  background-color: #5508b3;

}

.desactiveCheckoutBtn{
  background-color: grey;
  cursor: none;
}

/* Main */


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 155px;
}

.heroSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-image: url(/assets/img/heroimg_1.png);
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  padding: 0 10% 0 10%;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.titleContainer{
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.titleContainer h1{
  font-size: 120px;
  color: white;
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  font-family: 'Fredoka One', cursive;
}

.titleContainer h2{
  font-size: 50px;
  color: white;
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.transition {
  
  width: 100%;
  height: 2px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}


.categoryTitleContainer h2{
  font-size: 50px;
}

.categories {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 80px;
}

.categoriesCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 16vw;
}

.categoriesCardContainer h3{
  font-size: 22px;
}

.categoryCard, .categoryCardStatic{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width:16vw;
  height: 100%;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  transition: 0.25s all ease;
  position: relative;
  
}

.categoryCard:hover, .categoryCardStatic:hover{
  transform: scale(1.05);
}

.categoryNameContainer{
  position: absolute;
  top:7vw;
  height: 15%;
  background-color: white;
  width: 80%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.categoryActive {
  transform: scale(1.05);
  border: 2px black solid;
  border-radius: 5px;
}

.categoryCardStatic a{
  width: 100%;
}

.blurActive{
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 155px;
  right: 0px;
  z-index: 3;
}

.firstChildhood{
  background-color: #984ff1;
}

.dolls{
  background-color: #ff9233;
}

.boardGames{
  background-color: var(--main);
}

.teddies{
  background-color: var(--details);
}

.othersCategories{
  background-color: var(--otherContrast);
}

.categoryCard img, .categoryCardStatic img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
  
}

.categoryImgContainer{
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.otherIconContainer {
  display: flex;
  width: 60%;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.otherIconContainer img {
  width: 100%;
}


/* SECCION CATEGORÃA A RENDERIZAR */

.categorySelectedContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 60px;
}

.categorySelectedTitle h3{
  font-size: 40px;
  font-weight: 400;
}

.categorySelectedShowMore {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.categorySelectedShowMore button{
  width: 250px;
  height: 50px;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px var(--terciary) solid;
  transition: 0.25s all ease-out;
  color: var(--terciary);
  background-color: #faf7c7;
}

.categorySelectedShowMore button:hover{
  transform: scale(1.025);
}

.curved {
  position: relative;
  height: 8vh;
  width: 100%;
}

.curved::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
}

.curvedFeatured, .curvedFindUs, .curvedFooterCategories{
  background: #faf7c7;;
}

.curvedFeatured::after, .curvedFindUs::after{
  background: #ffd782;
}

.curvedAboutUs, .curvedFooter{
  background: #ffd782;
}

.curvedAboutUs::after{
  background: #faf7c7;
}

.curvedFooter::after, .curvedFooterCategories::after{
  background: var(--main);
}



/* DESTACADOS */

.featuredItemsSection{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffd782;
}

.featuredItems {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 60px;
}

.featuredTitleContainer h2{
  font-size: 50px;
}

.featuredCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 60px;
}


/* CARDS */

.itemCard {
  height: 450px;
  background: #ffffff;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 15px;
  gap: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-out;
  position: relative;
}

.itemCard:hover {
  
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  transform: scale(1.025);
}

.itemCard button {
  border-radius: 2px;
  background-color: var(--terciary);
  color: #FFFFFF;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
  width: 100%;
  border: none;
  transition: 0.25s all ease-out;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.itemCard button:hover {
  background-color: #5508b3;
}

.cardDataContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 5px 0 5px;
}

.cardDataContainer p:first-child{
  font-weight: 400;
  text-align: left;
  font-size: 20px;
}

.cardDataContainer p:last-child {
  text-align: right;
  font-size: 30px;
}

.imgCardContainer {
  max-width: 90%;
  min-width: 90%;
  width: 140px;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.imgCardContainer img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.favIconContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 20px;
  width: 100%;
  padding-left: 80%;
  cursor: pointer;
  position: absolute;
  top: 14px;
}

.favIconContainer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.2;
  
}


/* SECCION SOBRE NOSOTROS */
.aboutUs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 80%;
  padding: 80px 0 40px 0;
  height: 65vh;
  position: relative;
}

.linkedDiv{
  position: absolute;
  top: -155px;
}

.aboutUsContentContainer{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.aboutUsContentContainer h2{
  font-size: 50px;
}

.aboutUsContentContainer p{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.aboutUsTextContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutUsImgContainer{
  width: 50%;
  height: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: flex-end;
}

.aboutUsImgContainer img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}


/* SUCURSALES */

.findUs{
  background-color: #ffd782;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 740px;
  position:relative;
  padding: 60px 0 40px 0;
}

.findUsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}

.findUsTitle {
  padding: 30px 0 30px 0;
}

.findUsTitle h2{
  font-size: 50px;
}

.branchListContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.branch p{
  font-size: 22px;
  font-weight: 400;
}

.branch p:first-child{
  font-size: 26px;
}

.branchMapContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mapContainer{
  width: 60%;
}

.mapContainer iframe{
  width: 100%;
}

/* FOOTER */

footer {
  height: 220px;
  width: 100%;
  background: var(--main);
  position: relative;
  bottom: -155px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footerLogoContainer img{
  max-height: 60px;
}

.footerContentContainer{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

footer h4{
  font-family:'Fredoka One', cursive;
  font-size: 22px;
  padding-bottom: 20px;
}

footer p{
font-family: 'Poppins', sans-serif;


}


.footerContact p:nth-child(3){
  padding-bottom: 15px;
}


.footerHelp p{
  padding-bottom: 15px;
}

.footerFindUs img{
  max-width: 70px; 
  padding-left: 30px;
  padding-top: 20px;
}

/* MEDIA QUERYS */

@media screen and (max-width: 1100px ){
.firstHeaderSection, .secondHeaderSection{
  padding: 0 5% 0 5%;
}

  .categories, .featuredItems{
    width: 90%;
}
  
  
.categoriesCardContainer {
  height: 19vw;
}

.categoryCard, .categoryCardStatic{
  width:19vw; 
}

.categoryNameContainer{
  top: 7vw;
}

.categoryCard p{
  font-size: 16px;
}
}


@media screen and (max-width: 1340px){
  .titleContainer{
    width: 55%;
  }

  .titleContainer h1{
    font-size: 100px;
  }

  .titleContainer h2{
    font-size: 40px;
  }


  .secondaryUl{
    width: 55%;
  }


  .footerContainer{
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
  }

  footer{
    height: 420px;
  }

  footer p{
    font-size: 14px;
  }

  .footerContentContainer{
    width: 100%;
    justify-content: space-between;
  }

  .footerFindUs img{
    max-width: 60px; 
  }
}

@media screen and (max-width: 768px){
  .heroSection{
    align-items: center;
    height: 40vh;
  }

  .titleContainer{
    width: 80%;
  }

  .titleContainer h1{
    font-size: 80px;
  }

  .titleContainer h2{
    font-size: 30px;
  }

  .userWelcomeMessage{
    display: none;
  }

  nav{
    min-width: 200px;
  }

  nav ul{
    gap: 30px;
  }


  #burguerMenu{
    display: flex;
  }

  .secondaryUl{
    display: none;
  }

  footer{
    height: 650px;
  }
  .footerContentContainer{
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 30px;
  }

  .footerContentContainer > div{
    width: 100%;
  }
  
  footer h4{
    text-align: center;
  }

}

@media screen and (max-width: 481px){
  
  footer{
    height: 900px;
  }

  .heroSection{
    height: 40vh;
  }

  .titleContainer h1{
    font-size: 60px;
  }

  .titleContainer h2{
    font-size: 24px;
  }

  .cartMenu{
    width: 100%;
  }
}